<Row Gutter="(16, 16)">
    <Col Span="18">
    <Card Size="small" Title=@Title Style="width: 100%;">
        <Body>
            <TextBase Text="" FontSize="14px" />
            <Image Src=@ImagePath />
        </Body>
    </Card>
    </Col>
</Row>