@inject IJSRuntime Js

<table style="width:100%">
    <tbody>
        <tr>
            <td align="right">
                <button @onclick="Print"><Icon style="font-size:20px;" Type="printer" Theme="outline"/></button>
            </td>
        </tr>
    </tbody>
</table>

<p>
    версия 1.6 от 14.03.24
</p>
<div class="text-center">
    <h3>МЕТОДИКА</h3>
    <h3>риска возникновения ДЯ</h3>
</div>

<p>
    1. Настоящая Методика предполагает выполнение оценки состояния горного массива при условии корректной установки и
    работы подземной и наземной частей АПК «Микон-ГЕО», согласно документу ИГТ.081000.000.00 РЭ от 2020-03-25.
</p>

<p>
    2.Оценка состояния горного массива по данным АПК «Микон-ГЕО» осуществляется одновременно по следующим расчетным
    параметрам: «Степень неоднородности массива по данным среза», «Наличие зоны максимального разуплотнения в
    выделенной области», «Наличие зоны минимального разуплотнения в выделенной области».
</p>

<p>
    Если хотя бы один из параметров имеет значение, при котором состояние исследуемой области горного массива считается 
    потенциально опасным, то текущему состоянию массива присваивается статус: <b>«Обнаружены признаки опасности».</b>
</p>

<p>
    Если все расчетные параметры находятся в области допустимых значений, т.е. опасность не выявлена, то текущему 
    состоянию массива присваивается статус: «Признаков опасности не выявлено», что не исключает риск опасного явления. 
    В этом случае, необходимо проводить дополнительные работы по оценке состояния горного массива, согласно принятому 
    на предприятии регламенту.
</p>

<p>
    3. Параметр «Степень неоднородности массива по данным среза» может принимать следующие значения:
</p>
<ul>
    <li> <b>«НИЗКАЯ»</b>, если D_MAX &lt;= D_LL;</li>
    <li> <b>«УМЕРЕННАЯ»</b>, если D_LL &lt; D_MAX &lt; D_HH;</li>
    <li> <b>«ВЫСОКАЯ (!)»</b>, если D_MAX &gt;= D_HH.</li>
</ul>
<p>
    D_MAX – максимальное значение параметра «Уровень разуплотнения» по всему срезу.
    D_LL – нижнее пороговое значение параметра «Уровень разуплотнения» по всему срезу.
    D_HH – верхнее пороговое значение параметра «Уровень разуплотнения» по всему срезу.
</p>

<p>
    4. Параметр «Наличие зоны максимального разуплотнения в выделенной области» может принимать следующие значения:
</p>
<ul>
    <li><b>«ЕСТЬ (!)»</b>, если в выделенной области присутствуют значения d &gt; (0.9 * D_MAX);</li>
    <li><b>«НЕТ».</b></li>    
</ul>
<p>
    d – параметр «Уровень разуплотнения» в области.    
    D_MAX – максимальное значение параметра «Уровень разуплотнения» по всему срезу.
</p>
<p>
    Размер и положение выделенной области утверждается ответственными специалистами угольного предприятия и
    указывается в таблице 1.
</p>
<p>
    5. Параметр «Наличие зоны минимального разуплотнения в выделенной области» может принимать следующие значения:
</p>
<ul>
    <li><b>«ЕСТЬ (!)»</b>, если в выделенной области присутствуют значения d &lt; d_LL, при D_MAX &gt;= D_HH;</li>
    <li><b>«НЕТ».</b></li>    
</ul>
<p>
    d – параметр «Уровень разуплотнения» в области.
    d_LL – нижнее пороговое значение параметра «Уровень разуплотнения» в области.
    D_HH – верхнее пороговое значение параметра «Уровень разуплотнения» по всему срезу.
    D_MAX – максимальное значение параметра «Уровень разуплотнения» по всему срезу.
</p>
<p>
    Размер и положение выделенной области утверждается ответственными специалистами угольного предприятия и
    указывается в таблице 1.
</p>
<p>
    6. Предполагаемый тип явления в выделенной области определяется на основе имеющихся данных и может принимать
    следующие значения:
</p>
<ul>
    <li>
        <b>«Явление, связанное с повышенным горным давлением»</b>, если в области присутствует зона минимального 
        разуплотнения и степень неоднородности массива значительная.
    </li>
    <li>
        <b>«Явление, связанное с потерей устойчивости и/или повышенным разуплотнением горного массива»</b>, 
        если в области присутствует зона максимального разуплотнения.
    </li>
    <li>
        <b>«Не определено»</b>, если тип явления определить не удается.
    </li>
</ul>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>№</td><td>Обозначение</td><td>Численное значение</td><td>Примечание</td>
        </tr>
    </thead>
    <tbody>       
        <tr>
            <td>1</td>
            <td>D_LL</td>
            <td>0.4</td>
            <td>Нижнее пороговое значение параметра «Уровень разуплотнения» по всему срезу.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>D_HH</td>
            <td>0.6</td>
            <td>Верхнее пороговое значение параметра «Уровень разуплотнения» по всему срезу.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>d_LL</td>
            <td>0.17</td>
            <td>Нижнее пороговое значение параметра «Уровень разуплотнения» в области.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>X0</td>
            <td></td>
            <td>X0-координата выделенной области</td>
        </tr>
        <tr>
            <td>5</td>
            <td>X1</td>
            <td></td>
            <td>X1-координата выделенной области</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Y0</td>
            <td></td>
            <td>Y0-координата выделенной области</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Y1</td>
            <td></td>
            <td>Y1-координата выделенной области</td>
        </tr>
    </tbody>
</table>

<p><b>С вышеописанной методикой оценки состояния горного массива по данным АПК «Микон-ГЕО», а также с выбранными 
    пороговыми значениями прогностических и настроечных параметров ознакомлен и согласен.</b></p>

<p>
    <b>
        _______________________________________ ___________________________
    </b>
</p>
<p>Должность, ФИО, подпись, дата</p>
@code {
    private async Task Print()
    {
        await Js.InvokeVoidAsync("window.print");
    }
}
